name: docs

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      job:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        description: 'A token passed from the caller workflow'
        required: true

jobs:
  build:
    name: publish-docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version: '3.11'

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install pdoc3

      - name: Generate documentation with pdoc3
        run: |
            mkdir -p docs
            pdoc --html meteor --output-dir docs --force

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./docs/meteor
    